@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>This application is a Web Store</p>

<ul>
    <li>The register will add the users to the database</li>
    <li>Access to admin controls are on the bottom nav bar</li>
    <li>The print page of the confirmation should have bold text with a purple border</li>
</ul>