@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    <strong>Application Creator:</strong> <a href="mailto:danielbowen@mail.weber.edu">Daniel Bowen</a><br />
</address>
